* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "poppins";
}

.header {
    background-image: linear-gradient(rgba(5, 0.5, 0.5, 0.8), rgba(5, 0.5, 0.5, 0.8)), url('../netflix/img/backg.jpg');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.flex {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

#png {
    height: 50px;
    width: 190px;
}

.eng button {
    background-color: transparent;
    color: rgb(252, 246, 246);
    border-radius: 3px;
    border: 0.6px solid white;
    font-weight: 400;
    text-align: center;
    padding: 5px 30px;
    font-size: 1rem;
    cursor: pointer;

}

.sign button {
    background-color: red;
    color: rgb(252, 246, 246);
    border-radius: 3px;
    font-weight: 400;
    text-align: center;
    padding: 6px 10px;
    font-size: 1rem;
    width: 100px;
    border: 0;
    border-radius: 3px;
}

.sign button:hover {
    background-color: rgb(223, 31, 31);
    cursor: pointer;
}

.content {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
}

.one {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    padding: 10px 0;
}

.two {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

.three {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
    padding: 10px 0;
}

.btn button {
    background-color: red;
    color: rgb(252, 246, 246);
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: 6px 10px;
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
    position: absolute;
    right: 42%;
    top: 75%;
}

.btn button:hover {
    background-color: rgb(199, 13, 13);
    color: white;
    cursor: pointer;
}

.first {
    height: 80vh;
    max-width: 100%;
    background-color: black;
}

.way {
    min-width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.gap {
    margin: 0;
    padding: 0;
    background-color: rgba(75, 74, 74, 0.5);
    height: 1.5vh;
    max-width: 100%;
    box-sizing: border-box;
    color: white;
}

.text {
    width: 600px;
    height: 150px;

}

.text h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start;
    padding: 15px 0;
}

.text p {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;
}

.img {
    height: 280px;
    width: 290px;
    border-radius: 4px;
}

.second {
    min-height: 80vh;
    min-width: 100%;
    background-color: black;
}

.third {
    min-height: 80vh;
    min-width: 100%;
    background-color: black;
}

.fourth {
    min-height: 80vh;
    min-width: 100%;
    background-color: black;
}

.second h1 {
    text-align: end;
}

.second p {
    text-align: end;
}

.fourth h1 {
    text-align: end;
}

.fourth p {
    text-align: end;
}

.qeustion {
    margin-bottom: 0;
    max-width: 100%;
    background-color: black;
    min-height: 130vh;

}

.qna h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start;
    padding: 20px 0;
    text-align: center;
}

.qa {
    background-color: rgba(92, 91, 91, 0.5);
    width: 80vw;
    padding: 7px;
    margin: 10px auto;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
}

.item {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-height: 11vh;
}

.ans {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    font-family: "poppins";
    border-top: 2px solid gray;
    padding: 5px 0;
}

.qa span {
    font-size: 2rem;
    font-weight: bold;
}

.qa:hover {
    cursor: pointer;
    background-color: rgb(75, 73, 73);
    transition: all 0.3s;
}

.butn button {
    background-color: red;
    color: rgb(252, 246, 246);
    font-weight: bold;
    text-align: center;
    padding: 6px 10px;
    font-size: 1.2rem;
    width: 200px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
}

.butn button:hover {
    cursor: pointer;
    background-color: rgb(223, 31, 31);

}

.butn {
    text-align: center;
    margin-top: 35px;
}

footer {
    height: 70vh;
    min-width: 100%;
    background-color: black;
    margin-top: 0;

}

.pera {
    color: rgb(189, 186, 186);
    position: relative;
    top: 60px;
    left: 168px;
    width: 40vw;
    height: 6vh;
}

.end {
    height: 50vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.list {
    list-style-type: none;
    margin: 60px;
}

.list ul li a {
    color: rgb(189, 186, 186);
    font-size: 13px;
}

.list ul li {
    padding: 10px;
    text-align: start;
}

.english button {
    background-color: transparent;
    color: rgb(252, 246, 246);
    border-radius: 3px;
    border: 0.6px solid rgb(180, 178, 178);
    font-weight: 400;
    text-align: center;
    padding: 5px 30px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    left: 13%;
}

.login-container {
    background: rgba(0, 0, 0, 0.527);
    padding: 40px;
    border-radius: 5px;
    width: 425px;
    text-align: center;
    margin: 20px;
    border: 1px solid rgba(253, 251, 251, 0.226);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.login-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #e50914;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
}

.login-form button:hover {
    background: #b20710;
}

.help-options,
.login-form p {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #b3b3b3;
    align-items: center;
    padding: 20px;
    text-align: center;
    flex-direction: row;
}


.login-form p {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}