@media screen and (max-width:768px) and (min-width:425px) {
    .header {
        min-width: 100%;
        position: relative;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: space-between;
        padding: 4px;
    }

    .eng button {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .sign button {
        padding: 6px 7px;
        font-size: 0.8rem;
    }

    .png {
        padding: 10px;
    }

    #png {
        max-height: 30px;
        max-width: 140px;
    }

    .content {
        max-height: 20vh;
        text-align: center;
    }

    .one {
        font-size: 1.3rem;
        padding: 5px 0;
    }

    .two {
        font-size: 1.9rem;
        padding: 7px 0;
    }

    .three {
        font-size: 1.3rem;
        padding: 7px 0;
    }


    .btn button {
        padding: 5px 7px;
        font-size: 0.8rem;
        height: 35px;
        width: 120px;
        position: absolute;
        top: 80%;
        right: 33%;
    }

    .header {
        min-height: 100vh;
        min-width: 100%;
        background-position: center;
        background-size: cover;
    }

    .first {
        min-width: 100%;
        display: flex;

    }

    .way {
        min-height: 50vh;
        gap: 30px;
        padding: 25px;
        justify-content: space-between;
        flex-direction: column;
    }

    .img img {
        height: 35vh;
    }

    .text {
        width: 99%;
    }

    .text h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .text p {
        font-size: 0.8rem;
        text-align: center;
    }

    .second {
        border-bottom: 2px solid rgba(128, 128, 128, 0.747);
    }

    .qna h1 {
        font-size: 1.6rem;
        padding: 15px 0;
    }

    .qa {
        font-size: 1rem;
        font-weight: 500;
    }

    .qa span {
        font-size: 1.7rem;
    }

    .butn button {
        padding: 5px 7px;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        font-weight: 500;
        margin: 10px;

    }

    .end {
        display: grid;
        grid-template-columns: auto auto auto auto;

    }

    .list {
        list-style-type: none;
        margin: 30px 15px;
    }

    .list ul li a {
        font-size: 0.8rem;
    }

    footer p {
        font-size: 0.8rem;
        padding: 10px;
        text-align: center;
    }

    .english button {
        font-size: 0.9rem;
        padding: 7px 30px;
    }

    footer {
        min-height: 80vh;
    }

    .list ul li {
        padding: 5px;
    }

    .end {
        min-height: 65vh;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}


@media screen and (min-width:375px) and (max-width:424px) {
    .header {
        min-width: 100%;
        position: relative;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: space-between;
        padding: 4px;
    }

    .flex {
        padding: 2px;
        width: 200px;
        justify-content: space-between;
    }

    .eng button {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    .sign button {
        padding: 6px;
        font-size: 0.8rem;
    }

    .png {
        padding: 10px;
    }

    #png {
        max-height: 28px;
        max-width: 130px;
    }

    .content {
        max-height: 20vh;
        text-align: center;
    }

    .one {
        font-size: 1.3rem;
        padding: 5px 0;
    }

    .two {
        font-size: 1.9rem;
        padding: 7px 0;
    }

    .three {
        font-size: 1.3rem;
        padding: 7px 0;
    }


    .btn button {
        padding: 5px 7px;
        font-size: 0.8rem;
        position: absolute;
        top: 80%;
        right: 33%;
        height: 35px;
        width: 120px;
    }

    .header {
        min-height: 100vh;
        min-width: 100%;
        background-position: center;
        background-size: cover;
    }

    .first {
        min-width: 100%;
        display: flex;

    }

    .way {
        min-height: 50vh;
        gap: 30px;
        padding: 25px;
        justify-content: space-between;
        flex-direction: column;
    }

    .img img {
        height: 35vh;
    }

    .text {
        width: 99%;
    }

    .text h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .text p {
        font-size: 0.8rem;
        text-align: center;
    }

    .second {
        border-bottom: 2px solid rgba(128, 128, 128, 0.747);
    }

    .qna h1 {
        font-size: 1.4rem;
        padding: 15px 0;
    }

    .qa {
        font-size: 1rem;
        font-weight: 500;
    }

    .qa span {
        font-size: 1.7rem;
    }

    .ans {
        font-size: 0.8rem;
        padding: 3px;
    }

    .butn button {
        padding: 5px 7px;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        font-weight: 500;
        margin: 10px;
    }

    .end {
        display: grid;
        grid-template-columns: auto auto auto auto;

    }

    .list {
        list-style-type: none;
    }

    .list ul li a {
        font-size: 0.7rem;
    }

    footer p {
        font-size: 0.8rem;
        padding: 10px;
        text-align: center;
    }

    .english button {
        font-size: 0.9rem;
        padding: 7px 30px;
    }

    /* footer {
        min-height: 120vh;
    } */
    .pera {}

    .pera {
        display: none;

    }


    .list ul li {
        padding: 5px;
    }

    .list {
        min-width: 90%;
        margin: 5px;
    }

    .end {
        min-height: 120vh;
        min-width: 100%;
        display: flex;
        gap: 0;
        flex-direction: column;

    }
}

@media screen and  (min-width:320px) and (max-width:374px) {
    .header {
        min-width: 100%;
        position: relative;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: space-between;
        padding: 4px;
    }

    .flex {
        padding: 2px;
        width: 200px;
        justify-content: space-between;
    }

    .eng button {
        padding: 3px 15px;
        font-size: 0.7em;
    }

    .sign button {
        width: 80px;
        padding: 4px;
        font-size: 0.7rem;
    }

    .png {
        padding: 10px;
    }

    #png {
        max-height: 28px;
        max-width: 130px;
    }

    .content {
        max-height: 20vh;
        text-align: center;
    }

    .one {
        font-size: 1.3rem;
        padding: 5px 0;
    }

    .two {
        font-size: 1.9rem;
        padding: 7px 0;
    }

    .three {
        font-size: 1.3rem;
        padding: 7px 0;
    }


    .btn button {
        padding: 5px 7px;
        font-size: 0.8rem;
        position: absolute;
        top: 80%;
        right: 33%;
        height: 35px;
        width: 120px;
    }

    .header {
        min-height: 100vh;
        min-width: 100%;
        background-position: center;
        background-size: cover;
    }

    .first {
        min-width: 100%;
        display: flex;

    }

    .way {
        min-height: 50vh;
        gap: 30px;
        padding: 25px;
        justify-content: space-between;
        flex-direction: column;
    }

    .img img {
        height: 35vh;
    }

    .text {
        width: 99%;
    }

    .text h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .text p {
        font-size: 0.8rem;
        text-align: center;
    }

    .second {
        border-bottom: 2px solid rgba(128, 128, 128, 0.747);
    }
    .fourth{
        height: 90vh;
    }

    .qna h1 {
        font-size: 1.4rem;
        padding: 15px 0;
    }

    .qa {
        font-size: 1rem;
        font-weight: 500;
    }

    .qa span {
        font-size: 1.7rem;
    }

    .ans {
        font-size: 0.8rem;
        padding: 3px;
    }

    .butn button {
        padding: 5px 7px;
        font-size: 1rem;
        height: 40px;
        width: 150px;
        font-weight: 500;
        margin: 10px;
    }

    .end {
        display: grid;
        grid-template-columns: auto auto auto auto;

    }

    .list {
        list-style-type: none;
    }

    .list ul li a {
        font-size: 0.7rem;
    }

    footer p {
        font-size: 0.8rem;
        padding: 10px;
        text-align: center;
    }

    .english button {
        font-size: 0.9rem;
        padding: 7px 30px;
    }

    /* footer {
        min-height: 120vh;
    } */


    .pera {
        display: none;

    }


    .list ul li {
        padding: 5px;
    }

    .list {
        min-width: 90%;
        margin: 5px;
    }

    .end {
        min-height: 120vh;
        min-width: 100%;
        display: flex;
        gap: 0;
        flex-direction: column;

    }
}